Created By Muhammad Hanan Asghar

My Github: https://github.com/MuhammadHananAsghar

**Connect google drive**

In [ ]:
# Check if NVIDIA GPU is enabled
!nvidia-smi

Mon Dec 14 07:54:20 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.45.01    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   67C    P8    11W /  70W |      0MiB / 15079MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
!ln -s /content/gdrive/My\ Drive/ /mydrive
!ls /mydrive

Mounted at /content/gdrive
Kaggle	yolov3

**1) Clone the Darknet**

In [ ]:
!git clone https://github.com/AlexeyAB/darknet

Cloning into 'darknet'...
remote: Enumerating objects: 14621, done.
remote: Total 14621 (delta 0), reused 0 (delta 0), pack-reused 14621
Receiving objects: 100% (14621/14621), 13.21 MiB | 24.64 MiB/s, done.
Resolving deltas: 100% (9955/9955), done.

**2) Compile Darknet using Nvidia GPU**

In [ ]:
# change makefile to have GPU and OPENCV enabled
%cd darknet
!sed -i 's/OPENCV=0/OPENCV=1/' Makefile
!sed -i 's/GPU=0/GPU=1/' Makefile
!sed -i 's/CUDNN=0/CUDNN=1/' Makefile
!make

**3) Configure Darknet network for training YOLO V3**

In [ ]:
!cp cfg/yolov3.cfg cfg/yolov3_training.cfg

In [ ]:
!sed -i 's/batch=1/batch=64/' cfg/yolov3_training.cfg
!sed -i 's/subdivisions=1/subdivisions=16/' cfg/yolov3_training.cfg
!sed -i 's/max_batches = 500200/max_batches = 4000/' cfg/yolov3_training.cfg
!sed -i '610 s@classes=80@classes=2@' cfg/yolov3_training.cfg
!sed -i '696 s@classes=80@classes=2@' cfg/yolov3_training.cfg
!sed -i '783 s@classes=80@classes=2@' cfg/yolov3_training.cfg
!sed -i '603 s@filters=255@filters=21@' cfg/yolov3_training.cfg
!sed -i '689 s@filters=255@filters=21@' cfg/yolov3_training.cfg
!sed -i '776 s@filters=255@filters=21@' cfg/yolov3_training.cfg

In [ ]:
# Create folder on google drive so that we can save there the weights
!mkdir "/mydrive/yolov3"

mkdir: cannot create directory ‘/mydrive/yolov3’: File exists

In [ ]:
!echo "Koala" > data/obj.names
!echo -e 'classes= 1\ntrain  = data/train.txt\nvalid  = data/test.txt\nnames = data/obj.names\nbackup = /mydrive/yolov3' > data/obj.data
!mkdir data/obj

In [ ]:
# Download weights darknet model 53
!wget https://pjreddie.com/media/files/darknet53.conv.74

--2020-12-14 07:58:33--  https://pjreddie.com/media/files/darknet53.conv.74
Resolving pjreddie.com (pjreddie.com)... 128.208.4.108
Connecting to pjreddie.com (pjreddie.com)|128.208.4.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 162482580 (155M) [application/octet-stream]
Saving to: ‘darknet53.conv.74’

darknet53.conv.74   100%[===================>] 154.96M   588KB/s    in 4m 32s

2020-12-14 08:03:06 (583 KB/s) - ‘darknet53.conv.74’ saved [162482580/162482580]

**4) Extract Images**

The images need to be inside a zip archive called "images.zip" and they need to be inside the folder "yolov3" on Google Drive

In [ ]:
!unzip /mydrive/yolov3/images.zip -d data/obj

In [ ]:
# We're going to convert the class index on the .txt files. As we're working with only one class, it's supposed to be class 0.
# If the index is different from 0 then we're going to change it.
import glob
import os
import re

txt_file_paths = glob.glob(r"data/obj/datasets/*.txt")
for i, file_path in enumerate(txt_file_paths):
    # get image size
    with open(file_path, "r") as f_o:
        lines = f_o.readlines()

        text_converted = []
        for line in lines:
            print(line)
            numbers = re.findall("[0-9.]+", line)
            print(numbers)
            if numbers:

                # Define coordinates
                text = "{} {} {} {} {}".format(0, numbers[1], numbers[2], numbers[3], numbers[4])
                text_converted.append(text)
                print(i, file_path)
                print(text)
        # Write file
        with open(file_path, 'w') as fp:
            for item in text_converted:
                fp.writelines("%s\n" % item)

0 0.456000 0.498000 0.720000 0.756000

['0', '0.456000', '0.498000', '0.720000', '0.756000']
0 data/obj/datasets/295736555.txt
0 0.456000 0.498000 0.720000 0.756000
0 0.440000 0.510000 0.696000 0.748000

['0', '0.440000', '0.510000', '0.696000', '0.748000']
1 data/obj/datasets/95822204.txt
0 0.440000 0.510000 0.696000 0.748000
1 0.502000 0.624000 0.460000 0.376000

['1', '0.502000', '0.624000', '0.460000', '0.376000']
2 data/obj/datasets/344975707.txt
0 0.502000 0.624000 0.460000 0.376000
0 0.442000 0.514000 0.692000 0.724000

['0', '0.442000', '0.514000', '0.692000', '0.724000']
3 data/obj/datasets/330014533.txt
0 0.442000 0.514000 0.692000 0.724000
0 0.432000 0.522000 0.688000 0.724000

['0', '0.432000', '0.522000', '0.688000', '0.724000']
4 data/obj/datasets/305076326.txt
0 0.432000 0.522000 0.688000 0.724000
0 0.480000 0.480000 0.696000 0.728000

['0', '0.480000', '0.480000', '0.696000', '0.728000']
5 data/obj/datasets/318685212.txt
0 0.480000 0.480000 0.696000 0.728000
0 0.500000 0.470000 0.760000 0.780000

['0', '0.500000', '0.470000', '0.760000', '0.780000']
6 data/obj/datasets/6631288.txt
0 0.500000 0.470000 0.760000 0.780000
1 0.480000 0.596000 0.480000 0.432000

['1', '0.480000', '0.596000', '0.480000', '0.432000']
7 data/obj/datasets/287022458.txt
0 0.480000 0.596000 0.480000 0.432000
1 0.498000 0.618000 0.484000 0.396000

['1', '0.498000', '0.618000', '0.484000', '0.396000']
8 data/obj/datasets/90075602.txt
0 0.498000 0.618000 0.484000 0.396000
0 0.420000 0.494000 0.728000 0.764000

['0', '0.420000', '0.494000', '0.728000', '0.764000']
9 data/obj/datasets/200304621.txt
0 0.420000 0.494000 0.728000 0.764000
0 0.504000 0.452000 0.696000 0.744000

['0', '0.504000', '0.452000', '0.696000', '0.744000']
10 data/obj/datasets/54849572.txt
0 0.504000 0.452000 0.696000 0.744000
0 0.452000 0.528000 0.712000 0.760000

['0', '0.452000', '0.528000', '0.712000', '0.760000']
11 data/obj/datasets/134920307.txt
0 0.452000 0.528000 0.712000 0.760000
1 0.498000 0.636000 0.508000 0.456000

['1', '0.498000', '0.636000', '0.508000', '0.456000']
12 data/obj/datasets/183763723.txt
0 0.498000 0.636000 0.508000 0.456000
1 0.512000 0.644000 0.488000 0.480000

['1', '0.512000', '0.644000', '0.488000', '0.480000']
13 data/obj/datasets/71963296.txt
0 0.512000 0.644000 0.488000 0.480000
1 0.504000 0.622000 0.488000 0.412000

['1', '0.504000', '0.622000', '0.488000', '0.412000']
14 data/obj/datasets/190080001.txt
0 0.504000 0.622000 0.488000 0.412000
1 0.486000 0.620000 0.516000 0.464000

['1', '0.486000', '0.620000', '0.516000', '0.464000']
15 data/obj/datasets/207682692.txt
0 0.486000 0.620000 0.516000 0.464000
1 0.496000 0.632000 0.528000 0.440000

['1', '0.496000', '0.632000', '0.528000', '0.440000']
16 data/obj/datasets/134302549.txt
0 0.496000 0.632000 0.528000 0.440000
1 0.500000 0.626000 0.480000 0.444000

['1', '0.500000', '0.626000', '0.480000', '0.444000']
17 data/obj/datasets/249055078.txt
0 0.500000 0.626000 0.480000 0.444000
1 0.510000 0.626000 0.516000 0.436000

['1', '0.510000', '0.626000', '0.516000', '0.436000']
18 data/obj/datasets/211613162.txt
0 0.510000 0.626000 0.516000 0.436000
0 0.506000 0.472000 0.764000 0.736000

['0', '0.506000', '0.472000', '0.764000', '0.736000']
19 data/obj/datasets/385529933.txt
0 0.506000 0.472000 0.764000 0.736000
0 0.442000 0.492000 0.764000 0.768000

['0', '0.442000', '0.492000', '0.764000', '0.768000']
20 data/obj/datasets/247472673.txt
0 0.442000 0.492000 0.764000 0.768000
0 0.520000 0.486000 0.800000 0.788000

['0', '0.520000', '0.486000', '0.800000', '0.788000']
21 data/obj/datasets/235202826.txt
0 0.520000 0.486000 0.800000 0.788000
0 0.454000 0.480000 0.748000 0.768000

['0', '0.454000', '0.480000', '0.748000', '0.768000']
22 data/obj/datasets/387508904.txt
0 0.454000 0.480000 0.748000 0.768000
1 0.514000 0.614000 0.508000 0.444000

['1', '0.514000', '0.614000', '0.508000', '0.444000']
23 data/obj/datasets/313826280.txt
0 0.514000 0.614000 0.508000 0.444000
0 0.446000 0.528000 0.700000 0.728000

['0', '0.446000', '0.528000', '0.700000', '0.728000']
24 data/obj/datasets/280648328.txt
0 0.446000 0.528000 0.700000 0.728000
0 0.450000 0.518000 0.684000 0.724000

['0', '0.450000', '0.518000', '0.684000', '0.724000']
25 data/obj/datasets/212589291.txt
0 0.450000 0.518000 0.684000 0.724000
1 0.494000 0.610000 0.508000 0.420000

['1', '0.494000', '0.610000', '0.508000', '0.420000']
26 data/obj/datasets/336617696.txt
0 0.494000 0.610000 0.508000 0.420000
1 0.508000 0.622000 0.480000 0.428000

['1', '0.508000', '0.622000', '0.480000', '0.428000']
27 data/obj/datasets/266324565.txt
0 0.508000 0.622000 0.480000 0.428000
0 0.494000 0.466000 0.724000 0.756000

['0', '0.494000', '0.466000', '0.724000', '0.756000']
28 data/obj/datasets/115113452.txt
0 0.494000 0.466000 0.724000 0.756000
0 0.494000 0.482000 0.692000 0.740000

['0', '0.494000', '0.482000', '0.692000', '0.740000']
29 data/obj/datasets/28847779.txt
0 0.494000 0.482000 0.692000 0.740000
0 0.440000 0.524000 0.712000 0.744000

['0', '0.440000', '0.524000', '0.712000', '0.744000']
30 data/obj/datasets/57729429.txt
0 0.440000 0.524000 0.712000 0.744000
0 0.492000 0.460000 0.744000 0.752000

['0', '0.492000', '0.460000', '0.744000', '0.752000']
31 data/obj/datasets/345766969.txt
0 0.492000 0.460000 0.744000 0.752000
1 0.506000 0.618000 0.492000 0.388000

['1', '0.506000', '0.618000', '0.492000', '0.388000']
32 data/obj/datasets/321913533.txt
0 0.506000 0.618000 0.492000 0.388000
1 0.522000 0.636000 0.468000 0.488000

['1', '0.522000', '0.636000', '0.468000', '0.488000']
33 data/obj/datasets/91610709.txt
0 0.522000 0.636000 0.468000 0.488000
1 0.506000 0.624000 0.492000 0.424000

['1', '0.506000', '0.624000', '0.492000', '0.424000']
34 data/obj/datasets/312067258.txt
0 0.506000 0.624000 0.492000 0.424000
1 0.490000 0.614000 0.508000 0.468000

['1', '0.490000', '0.614000', '0.508000', '0.468000']
35 data/obj/datasets/102780218.txt
0 0.490000 0.614000 0.508000 0.468000
0 0.494000 0.476000 0.700000 0.728000

['0', '0.494000', '0.476000', '0.700000', '0.728000']
36 data/obj/datasets/262982116.txt
0 0.494000 0.476000 0.700000 0.728000
1 0.494000 0.626000 0.524000 0.420000

['1', '0.494000', '0.626000', '0.524000', '0.420000']
37 data/obj/datasets/163678508.txt
0 0.494000 0.626000 0.524000 0.420000
0 0.454000 0.512000 0.668000 0.744000

['0', '0.454000', '0.512000', '0.668000', '0.744000']
38 data/obj/datasets/106662130.txt
0 0.454000 0.512000 0.668000 0.744000
1 0.506000 0.636000 0.516000 0.456000

['1', '0.506000', '0.636000', '0.516000', '0.456000']
39 data/obj/datasets/263012591.txt
0 0.506000 0.636000 0.516000 0.456000
0 0.478000 0.464000 0.708000 0.728000

['0', '0.478000', '0.464000', '0.708000', '0.728000']
40 data/obj/datasets/342142779.txt
0 0.478000 0.464000 0.708000 0.728000
0 0.444000 0.540000 0.704000 0.736000

['0', '0.444000', '0.540000', '0.704000', '0.736000']
41 data/obj/datasets/298672000.txt
0 0.444000 0.540000 0.704000 0.736000
0 0.452000 0.532000 0.696000 0.752000

['0', '0.452000', '0.532000', '0.696000', '0.752000']
42 data/obj/datasets/64363022.txt
0 0.452000 0.532000 0.696000 0.752000
1 0.506000 0.624000 0.452000 0.432000

['1', '0.506000', '0.624000', '0.452000', '0.432000']
43 data/obj/datasets/341968563.txt
0 0.506000 0.624000 0.452000 0.432000
0 0.454000 0.526000 0.692000 0.716000

['0', '0.454000', '0.526000', '0.692000', '0.716000']
44 data/obj/datasets/84819931.txt
0 0.454000 0.526000 0.692000 0.716000
0 0.428000 0.476000 0.728000 0.744000

['0', '0.428000', '0.476000', '0.728000', '0.744000']
45 data/obj/datasets/338024441.txt
0 0.428000 0.476000 0.728000 0.744000
1 0.496000 0.626000 0.528000 0.484000

['1', '0.496000', '0.626000', '0.528000', '0.484000']
46 data/obj/datasets/100492635.txt
0 0.496000 0.626000 0.528000 0.484000
0 0.448000 0.500000 0.712000 0.792000

['0', '0.448000', '0.500000', '0.712000', '0.792000']
47 data/obj/datasets/152930097.txt
0 0.448000 0.500000 0.712000 0.792000
1 0.488000 0.622000 0.480000 0.468000

['1', '0.488000', '0.622000', '0.480000', '0.468000']
48 data/obj/datasets/233088752.txt
0 0.488000 0.622000 0.480000 0.468000
1 0.512000 0.620000 0.440000 0.384000

['1', '0.512000', '0.620000', '0.440000', '0.384000']
49 data/obj/datasets/48177760.txt
0 0.512000 0.620000 0.440000 0.384000
1 0.506000 0.634000 0.508000 0.476000

['1', '0.506000', '0.634000', '0.508000', '0.476000']
50 data/obj/datasets/324728313.txt
0 0.506000 0.634000 0.508000 0.476000
1 0.508000 0.608000 0.448000 0.416000

['1', '0.508000', '0.608000', '0.448000', '0.416000']
51 data/obj/datasets/55976402.txt
0 0.508000 0.608000 0.448000 0.416000
palm

[]
fist

[]
1 0.528000 0.638000 0.512000 0.412000

['1', '0.528000', '0.638000', '0.512000', '0.412000']
53 data/obj/datasets/294962211.txt
0 0.528000 0.638000 0.512000 0.412000
0 0.494000 0.486000 0.716000 0.780000

['0', '0.494000', '0.486000', '0.716000', '0.780000']
54 data/obj/datasets/336670273.txt
0 0.494000 0.486000 0.716000 0.780000
1 0.510000 0.650000 0.532000 0.484000

['1', '0.510000', '0.650000', '0.532000', '0.484000']
55 data/obj/datasets/157573755.txt
0 0.510000 0.650000 0.532000 0.484000
1 0.496000 0.632000 0.496000 0.480000

['1', '0.496000', '0.632000', '0.496000', '0.480000']
56 data/obj/datasets/37003574.txt
0 0.496000 0.632000 0.496000 0.480000
0 0.486000 0.474000 0.732000 0.756000

['0', '0.486000', '0.474000', '0.732000', '0.756000']
57 data/obj/datasets/192842044.txt
0 0.486000 0.474000 0.732000 0.756000
0 0.442000 0.496000 0.700000 0.800000

['0', '0.442000', '0.496000', '0.700000', '0.800000']
58 data/obj/datasets/304717573.txt
0 0.442000 0.496000 0.700000 0.800000
0 0.506000 0.474000 0.700000 0.764000

['0', '0.506000', '0.474000', '0.700000', '0.764000']
59 data/obj/datasets/165666816.txt
0 0.506000 0.474000 0.700000 0.764000
0 0.478000 0.466000 0.700000 0.732000

['0', '0.478000', '0.466000', '0.700000', '0.732000']
60 data/obj/datasets/330576536.txt
0 0.478000 0.466000 0.700000 0.732000
0 0.428000 0.474000 0.744000 0.764000

['0', '0.428000', '0.474000', '0.744000', '0.764000']
61 data/obj/datasets/390953004.txt
0 0.428000 0.474000 0.744000 0.764000
1 0.502000 0.624000 0.540000 0.408000

['1', '0.502000', '0.624000', '0.540000', '0.408000']
62 data/obj/datasets/296430637.txt
0 0.502000 0.624000 0.540000 0.408000
1 0.500000 0.630000 0.536000 0.468000

['1', '0.500000', '0.630000', '0.536000', '0.468000']
63 data/obj/datasets/140867242.txt
0 0.500000 0.630000 0.536000 0.468000
1 0.508000 0.620000 0.504000 0.384000

['1', '0.508000', '0.620000', '0.504000', '0.384000']
64 data/obj/datasets/351356683.txt
0 0.508000 0.620000 0.504000 0.384000
0 0.430000 0.478000 0.756000 0.772000

['0', '0.430000', '0.478000', '0.756000', '0.772000']
65 data/obj/datasets/219589068.txt
0 0.430000 0.478000 0.756000 0.772000
1 0.480000 0.620000 0.512000 0.440000

['1', '0.480000', '0.620000', '0.512000', '0.440000']
66 data/obj/datasets/214800557.txt
0 0.480000 0.620000 0.512000 0.440000
0 0.504000 0.496000 0.752000 0.792000

['0', '0.504000', '0.496000', '0.752000', '0.792000']
67 data/obj/datasets/71195460.txt
0 0.504000 0.496000 0.752000 0.792000
0 0.488000 0.474000 0.792000 0.772000

['0', '0.488000', '0.474000', '0.792000', '0.772000']
68 data/obj/datasets/354372362.txt
0 0.488000 0.474000 0.792000 0.772000
1 0.498000 0.616000 0.532000 0.456000

['1', '0.498000', '0.616000', '0.532000', '0.456000']
69 data/obj/datasets/252570906.txt
0 0.498000 0.616000 0.532000 0.456000
0 0.490000 0.474000 0.724000 0.772000

['0', '0.490000', '0.474000', '0.724000', '0.772000']
70 data/obj/datasets/19101891.txt
0 0.490000 0.474000 0.724000 0.772000
1 0.522000 0.620000 0.444000 0.448000

['1', '0.522000', '0.620000', '0.444000', '0.448000']
71 data/obj/datasets/25199310.txt
0 0.522000 0.620000 0.444000 0.448000
0 0.452000 0.532000 0.728000 0.760000

['0', '0.452000', '0.532000', '0.728000', '0.760000']
72 data/obj/datasets/255529255.txt
0 0.452000 0.532000 0.728000 0.760000
1 0.506000 0.652000 0.476000 0.512000

['1', '0.506000', '0.652000', '0.476000', '0.512000']
73 data/obj/datasets/309162021.txt
0 0.506000 0.652000 0.476000 0.512000
0 0.484000 0.462000 0.688000 0.740000

['0', '0.484000', '0.462000', '0.688000', '0.740000']
74 data/obj/datasets/114231080.txt
0 0.484000 0.462000 0.688000 0.740000
0 0.502000 0.474000 0.732000 0.740000

['0', '0.502000', '0.474000', '0.732000', '0.740000']
75 data/obj/datasets/335589231.txt
0 0.502000 0.474000 0.732000 0.740000
1 0.486000 0.616000 0.476000 0.464000

['1', '0.486000', '0.616000', '0.476000', '0.464000']
76 data/obj/datasets/328577444.txt
0 0.486000 0.616000 0.476000 0.464000
1 0.510000 0.622000 0.476000 0.404000

['1', '0.510000', '0.622000', '0.476000', '0.404000']
77 data/obj/datasets/103945078.txt
0 0.510000 0.622000 0.476000 0.404000
1 0.508000 0.626000 0.520000 0.428000

['1', '0.508000', '0.626000', '0.520000', '0.428000']
78 data/obj/datasets/379292803.txt
0 0.508000 0.626000 0.520000 0.428000
0 0.434000 0.480000 0.716000 0.760000

['0', '0.434000', '0.480000', '0.716000', '0.760000']
79 data/obj/datasets/263285887.txt
0 0.434000 0.480000 0.716000 0.760000
1 0.512000 0.632000 0.512000 0.408000

['1', '0.512000', '0.632000', '0.512000', '0.408000']
80 data/obj/datasets/37861431.txt
0 0.512000 0.632000 0.512000 0.408000
0 0.450000 0.514000 0.724000 0.708000

['0', '0.450000', '0.514000', '0.724000', '0.708000']
81 data/obj/datasets/20742821.txt
0 0.450000 0.514000 0.724000 0.708000
0 0.430000 0.520000 0.692000 0.720000

['0', '0.430000', '0.520000', '0.692000', '0.720000']
82 data/obj/datasets/60946556.txt
0 0.430000 0.520000 0.692000 0.720000
1 0.508000 0.628000 0.496000 0.472000

['1', '0.508000', '0.628000', '0.496000', '0.472000']
83 data/obj/datasets/355550289.txt
0 0.508000 0.628000 0.496000 0.472000
1 0.496000 0.622000 0.512000 0.460000

['1', '0.496000', '0.622000', '0.512000', '0.460000']
84 data/obj/datasets/144813661.txt
0 0.496000 0.622000 0.512000 0.460000
0 0.494000 0.482000 0.700000 0.756000

['0', '0.494000', '0.482000', '0.700000', '0.756000']
85 data/obj/datasets/142671020.txt
0 0.494000 0.482000 0.700000 0.756000
0 0.496000 0.470000 0.704000 0.740000

['0', '0.496000', '0.470000', '0.704000', '0.740000']
86 data/obj/datasets/122364843.txt
0 0.496000 0.470000 0.704000 0.740000
0 0.486000 0.480000 0.716000 0.760000

['0', '0.486000', '0.480000', '0.716000', '0.760000']
87 data/obj/datasets/941305.txt
0 0.486000 0.480000 0.716000 0.760000
1 0.504000 0.624000 0.504000 0.392000

['1', '0.504000', '0.624000', '0.504000', '0.392000']
88 data/obj/datasets/142175820.txt
0 0.504000 0.624000 0.504000 0.392000
0 0.492000 0.486000 0.752000 0.772000

['0', '0.492000', '0.486000', '0.752000', '0.772000']
89 data/obj/datasets/293133110.txt
0 0.492000 0.486000 0.752000 0.772000
0 0.456000 0.524000 0.696000 0.768000

['0', '0.456000', '0.524000', '0.696000', '0.768000']
90 data/obj/datasets/13686601.txt
0 0.456000 0.524000 0.696000 0.768000
0 0.488000 0.472000 0.704000 0.760000

['0', '0.488000', '0.472000', '0.704000', '0.760000']
91 data/obj/datasets/66578374.txt
0 0.488000 0.472000 0.704000 0.760000
1 0.504000 0.626000 0.504000 0.452000

['1', '0.504000', '0.626000', '0.504000', '0.452000']
92 data/obj/datasets/226957428.txt
0 0.504000 0.626000 0.504000 0.452000
1 0.494000 0.628000 0.508000 0.432000

['1', '0.494000', '0.628000', '0.508000', '0.432000']
93 data/obj/datasets/243214567.txt
0 0.494000 0.628000 0.508000 0.432000
1 0.512000 0.634000 0.520000 0.412000

['1', '0.512000', '0.634000', '0.520000', '0.412000']
94 data/obj/datasets/79246788.txt
0 0.512000 0.634000 0.520000 0.412000
0 0.440000 0.486000 0.736000 0.796000

['0', '0.440000', '0.486000', '0.736000', '0.796000']
95 data/obj/datasets/252965563.txt
0 0.440000 0.486000 0.736000 0.796000
1 0.496000 0.618000 0.512000 0.404000

['1', '0.496000', '0.618000', '0.512000', '0.404000']
96 data/obj/datasets/288829477.txt
0 0.496000 0.618000 0.512000 0.404000
0 0.496000 0.482000 0.728000 0.748000

['0', '0.496000', '0.482000', '0.728000', '0.748000']
97 data/obj/datasets/313071124.txt
0 0.496000 0.482000 0.728000 0.748000
1 0.502000 0.638000 0.476000 0.420000

['1', '0.502000', '0.638000', '0.476000', '0.420000']
98 data/obj/datasets/163257365.txt
0 0.502000 0.638000 0.476000 0.420000
0 0.442000 0.482000 0.732000 0.780000

['0', '0.442000', '0.482000', '0.732000', '0.780000']
99 data/obj/datasets/57492926.txt
0 0.442000 0.482000 0.732000 0.780000
1 0.524000 0.626000 0.496000 0.460000

['1', '0.524000', '0.626000', '0.496000', '0.460000']
100 data/obj/datasets/86081731.txt
0 0.524000 0.626000 0.496000 0.460000
1 0.510000 0.616000 0.516000 0.480000

['1', '0.510000', '0.616000', '0.516000', '0.480000']
101 data/obj/datasets/48338565.txt
0 0.510000 0.616000 0.516000 0.480000
1 0.514000 0.616000 0.484000 0.432000

['1', '0.514000', '0.616000', '0.484000', '0.432000']
102 data/obj/datasets/23589785.txt
0 0.514000 0.616000 0.484000 0.432000
1 0.506000 0.614000 0.540000 0.460000

['1', '0.506000', '0.614000', '0.540000', '0.460000']
103 data/obj/datasets/358806836.txt
0 0.506000 0.614000 0.540000 0.460000
0 0.426000 0.490000 0.724000 0.772000

['0', '0.426000', '0.490000', '0.724000', '0.772000']
104 data/obj/datasets/208986918.txt
0 0.426000 0.490000 0.724000 0.772000
1 0.514000 0.634000 0.484000 0.420000

['1', '0.514000', '0.634000', '0.484000', '0.420000']
105 data/obj/datasets/63144615.txt
0 0.514000 0.634000 0.484000 0.420000
1 0.504000 0.630000 0.504000 0.452000

['1', '0.504000', '0.630000', '0.504000', '0.452000']
106 data/obj/datasets/946524643.txt
0 0.504000 0.630000 0.504000 0.452000
1 0.508000 0.636000 0.520000 0.440000

['1', '0.508000', '0.636000', '0.520000', '0.440000']
107 data/obj/datasets/255176533.txt
0 0.508000 0.636000 0.520000 0.440000
0 0.430000 0.500000 0.740000 0.776000

['0', '0.430000', '0.500000', '0.740000', '0.776000']
108 data/obj/datasets/161052156.txt
0 0.430000 0.500000 0.740000 0.776000
1 0.502000 0.634000 0.516000 0.468000

['1', '0.502000', '0.634000', '0.516000', '0.468000']
109 data/obj/datasets/41679990.txt
0 0.502000 0.634000 0.516000 0.468000
1 0.482000 0.606000 0.500000 0.468000

['1', '0.482000', '0.606000', '0.500000', '0.468000']
110 data/obj/datasets/68997648.txt
0 0.482000 0.606000 0.500000 0.468000
0 0.454000 0.524000 0.716000 0.744000

['0', '0.454000', '0.524000', '0.716000', '0.744000']
111 data/obj/datasets/348693407.txt
0 0.454000 0.524000 0.716000 0.744000
0 0.500000 0.466000 0.680000 0.748000

['0', '0.500000', '0.466000', '0.680000', '0.748000']
112 data/obj/datasets/83263101.txt
0 0.500000 0.466000 0.680000 0.748000
1 0.506000 0.630000 0.548000 0.460000

['1', '0.506000', '0.630000', '0.548000', '0.460000']
113 data/obj/datasets/180691715.txt
0 0.506000 0.630000 0.548000 0.460000
0 0.470000 0.530000 0.748000 0.788000

['0', '0.470000', '0.530000', '0.748000', '0.788000']
114 data/obj/datasets/189915063.txt
0 0.470000 0.530000 0.748000 0.788000

In [ ]:
import glob
images_list = glob.glob("data/obj/datasets/*.jpg")
print(images_list)

['data/obj/datasets/309162021.jpg', 'data/obj/datasets/142671020.jpg', 'data/obj/datasets/83263101.jpg', 'data/obj/datasets/163257365.jpg', 'data/obj/datasets/233088752.jpg', 'data/obj/datasets/390953004.jpg', 'data/obj/datasets/255529255.jpg', 'data/obj/datasets/13686601.jpg', 'data/obj/datasets/140867242.jpg', 'data/obj/datasets/157573755.jpg', 'data/obj/datasets/48177760.jpg', 'data/obj/datasets/134302549.jpg', 'data/obj/datasets/192842044.jpg', 'data/obj/datasets/180691715.jpg', 'data/obj/datasets/262982116.jpg', 'data/obj/datasets/37861431.jpg', 'data/obj/datasets/95822204.jpg', 'data/obj/datasets/295736555.jpg', 'data/obj/datasets/64363022.jpg', 'data/obj/datasets/79246788.jpg', 'data/obj/datasets/84819931.jpg', 'data/obj/datasets/263012591.jpg', 'data/obj/datasets/60946556.jpg', 'data/obj/datasets/379292803.jpg', 'data/obj/datasets/115113452.jpg', 'data/obj/datasets/68997648.jpg', 'data/obj/datasets/165666816.jpg', 'data/obj/datasets/190080001.jpg', 'data/obj/datasets/20742821.jpg', 'data/obj/datasets/335589231.jpg', 'data/obj/datasets/19101891.jpg', 'data/obj/datasets/25199310.jpg', 'data/obj/datasets/106662130.jpg', 'data/obj/datasets/247472673.jpg', 'data/obj/datasets/255176533.jpg', 'data/obj/datasets/312067258.jpg', 'data/obj/datasets/57492926.jpg', 'data/obj/datasets/313071124.jpg', 'data/obj/datasets/330576536.jpg', 'data/obj/datasets/298672000.jpg', 'data/obj/datasets/23589785.jpg', 'data/obj/datasets/235202826.jpg', 'data/obj/datasets/71195460.jpg', 'data/obj/datasets/28847779.jpg', 'data/obj/datasets/336670273.jpg', 'data/obj/datasets/183763723.jpg', 'data/obj/datasets/134920307.jpg', 'data/obj/datasets/243214567.jpg', 'data/obj/datasets/163678508.jpg', 'data/obj/datasets/249055078.jpg', 'data/obj/datasets/100492635.jpg', 'data/obj/datasets/351356683.jpg', 'data/obj/datasets/48338565.jpg', 'data/obj/datasets/252965563.jpg', 'data/obj/datasets/91610709.jpg', 'data/obj/datasets/200304621.jpg', 'data/obj/datasets/37003574.jpg', 'data/obj/datasets/266324565.jpg', 'data/obj/datasets/102780218.jpg', 'data/obj/datasets/6631288.jpg', 'data/obj/datasets/296430637.jpg', 'data/obj/datasets/341968563.jpg', 'data/obj/datasets/304717573.jpg', 'data/obj/datasets/263285887.jpg', 'data/obj/datasets/318685212.jpg', 'data/obj/datasets/161052156.jpg', 'data/obj/datasets/71963296.jpg', 'data/obj/datasets/280648328.jpg', 'data/obj/datasets/114231080.jpg', 'data/obj/datasets/54849572.jpg', 'data/obj/datasets/144813661.jpg', 'data/obj/datasets/152930097.jpg', 'data/obj/datasets/348693407.jpg', 'data/obj/datasets/214800557.jpg', 'data/obj/datasets/122364843.jpg', 'data/obj/datasets/330014533.jpg', 'data/obj/datasets/338024441.jpg', 'data/obj/datasets/208986918.jpg', 'data/obj/datasets/321913533.jpg', 'data/obj/datasets/288829477.jpg', 'data/obj/datasets/294962211.jpg', 'data/obj/datasets/305076326.jpg', 'data/obj/datasets/66578374.jpg', 'data/obj/datasets/345766969.jpg', 'data/obj/datasets/207682692.jpg', 'data/obj/datasets/344975707.jpg', 'data/obj/datasets/252570906.jpg', 'data/obj/datasets/211613162.jpg', 'data/obj/datasets/103945078.jpg', 'data/obj/datasets/226957428.jpg', 'data/obj/datasets/355550289.jpg', 'data/obj/datasets/946524643.jpg', 'data/obj/datasets/328577444.jpg', 'data/obj/datasets/354372362.jpg', 'data/obj/datasets/142175820.jpg', 'data/obj/datasets/336617696.jpg', 'data/obj/datasets/342142779.jpg', 'data/obj/datasets/293133110.jpg', 'data/obj/datasets/358806836.jpg', 'data/obj/datasets/212589291.jpg', 'data/obj/datasets/287022458.jpg', 'data/obj/datasets/941305.jpg', 'data/obj/datasets/41679990.jpg', 'data/obj/datasets/90075602.jpg', 'data/obj/datasets/189915063.jpg', 'data/obj/datasets/63144615.jpg', 'data/obj/datasets/313826280.jpg', 'data/obj/datasets/387508904.jpg', 'data/obj/datasets/324728313.jpg', 'data/obj/datasets/86081731.jpg', 'data/obj/datasets/57729429.jpg', 'data/obj/datasets/55976402.jpg', 'data/obj/datasets/385529933.jpg', 'data/obj/datasets/219589068.jpg']

In [ ]:
#Create training.txt file
file = open("data/train.txt", "w") 
file.write("\n".join(images_list)) 
file.close()

**6) Start the training**

In [ ]:
# Start the training
# !./darknet detector train data/obj.data cfg/yolov3_training.cfg darknet53.conv.74 -dont_show

In [ ]:
# I trained almost 3 hours